.apply-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .apply-form-container {
    background-color: rgba(145, 141, 148, 0.48); /* Semi-transparent white background for form container */
    padding: 25px;
    border-radius: 15px;
  }
  
  .apply-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: px;
  }
  
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='file'] {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(134, 133, 133);
    border-radius: 5px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(132, 130, 130);
    color: rgb(109, 108, 108);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3c52ff;
  }